* {
  font-family: sans-serif;
  padding: 1em;
  margin: 1em;
  align-items: center;
  text-align: center;
  align-content: center;
  background-color:silver;
}
.button-add {
  width: 100px;
  height: 50px;
  border-radius: 20px;
  border-style: none;
  cursor: pointer;
}
.input {
  border-radius: 20px;
  border: none;
  background-color: grey;
  color: white;
}
.container {
  background-color: rgb(219, 220, 221);
}
.styling-of-list{
    background-color: rgb(219, 220, 221);

}